body {

    background-color: #b9ceb1;
    
}


h1 {

    color: #ff7f50;

}

.titulo-principal{

    color: rgb(207, 154, 18);
    font-size: 20px;

}

#titulo {

    color: darkturquoise;
    font-size: 80px

}

/* Esse é um trecho que estiliza varios elemesntos ao mesmo tempo

.titulo-principal, h1, #titulo {

    color: darkturquoise;
    font-size: 120px

} */

.card a {

     font-size: 40px;

}

.card h1 {

    font-size: 50px;

}

.card p {

    font-size: 10px;

}