

.baner {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    background-image: url("https://wallpaperaccess.com/full/3971885.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 720px;
    width: 1280px;
    padding: 28px;
    border: solid #e6ecec;
    border-radius: 30px;
    margin: 10px;
    box-sizing: border-box;
   
}



button {

    color: #ffffff;
    background-color: #14990f;
    border-radius: 20px;
    height: 40px;
    
} 