@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
/* font-family: 'Roboto', sans-serif; */



.fundo {

    background-image: url("https://wallpapercave.com/wp/GmYC8HQ.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.cabecalho h1 {
    
    background-color: #008fbe;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 12px 20px 12px 20px;
    margin: 0;

}

.texto {

    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    padding: 12px;
}

.video {

  padding-left: calc(50% - 604px / 2);

}

.fundo-2 {
    
    background-color: #c7cdcf;
}

.incone img {
    width: 100px;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.incone h3 {
    font-family: 'Roboto', sans-serif;
    padding: 10px 0 0 10px;
    box-sizing: border-box;
}