* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 66, 66);
    height: 90vh;
}

header {
    background-color: blueviolet;
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;

}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "form" "cards";
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin-top: 30px;
}


.form {
    background-color: blue;
    color: aliceblue;
    height: 400px;
    width: 300px;
    margin-left: 55px;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px;
}

#form {
    display: grid;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    flex-direction: column;
}

#form h2 {
    margin-bottom: 30px;
}

#form .label-titulo {
    color: white;
    position: absolute;
    top: 115px;
    left: 65px;
    background-color: blue;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
}

#form .label-descricao {
    color: white;
    position: absolute;
    top: 185px;
    left: 65px;
    background-color: blue;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
}

#form .label-url {
    color: white;
    position: absolute;
    top: 245px;
    left: 65px;
    background-color: blue;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
}

#form input {
    outline: unset;
    width: 200px;
    height: 45px;
    padding-left: 10px ;
    margin-bottom: 20px;
    border: 10px;
    border-radius: 20px;
}

#form button {
    height: 30px;
    width: 150px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 50px;
    border: 10px;
}


.cards { 
    grid-area: "cards";
    display: grid; 
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap; 
} 

.card { 
    display: grid;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    background-color: white; 
}

