p::first-letter {
    color: azure;
    background-color: cadetblue;
    font-size: 40px;
}

ul li {
    list-style: none;
    margin: 12px 0;
}

ul li:nth-child(2n) {
    color: coral;
}


input {
    display: block;
}

input:focus {
    background-color: #d4d4d4;
    transition: .3s;
}

.check {
    display: inline;
    margin: 12px 10px;
}

input:checked {
    transform: scale(2);
}

a {
    text-decoration: none;
    margin-bottom: 12px;
}

a:hover {
    color: red;
}

a:visited{
    color: rgb(23, 238, 3);
}

input:disabled{
    background-color: rgb(209, 209, 209);
}
