body {

    background-color: #DFD7B9;

}

h1 {

    color: #cd8c00;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.job-title{

    color: #f5fffa;
    background-color: #cd8c00;

}

#high {

    color: #cd8c00;

}

ul {

    color: #f5fffa;
    background-color: #8b6122;

}
